.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 4rem;
  z-index: 100;

  img {
    width: 6rem;
    filter: invert(56%) sepia(84%) saturate(2134%) hue-rotate(164deg) brightness(102%) contrast(100%);
  }
}
