<div class="app" id="light">
  <header>
    <ng-container *ngIf="showTopNavbar">
      <app-header></app-header>
    </ng-container>
  </header>

  <main>
    <!-- Home -->
    <article class="app--home page" id="home">
      <!-- Information -->
      <section>
        <!-- Title -->
        <h1>{{ 'HOME.TITLE' | translate }}</h1>

        <!-- Subtitle -->
        <h2>{{ 'HOME.SUBTITLE' | translate }}</h2>

        <!-- Description -->
        <p class="btn">{{ 'HOME.DESCRIPTION' | translate }}</p>
      </section>

      <!-- Sustainable Development Goals Icons -->
      <aside>
        <img src="assets/circle.svg" alt="Roleta com os ícones de ODS" class="rotate">
      </aside>

      <!-- Arrow down -->
      <a href="#info">
        <img src="assets/arrow.svg" alt="Seta de rolagem para baixo" class="bouncing">
      </a>
    </article>

    <!-- Information about the project -->
    <article class="app--info page" id="info">
      <ng-container *ngFor="let item of 'INFO' | translate">
        <!-- Card -->
        <app-info-card [info]="item"></app-info-card>
      </ng-container>

      <div class="circle1"></div>
      <div class="circle2"></div>
    </article>

    <!-- Overview -->
    <article class="app--overview page" id="overview">
      <!-- Brazil's map -->
      <section>
        <img src="assets/brazil.svg" alt="Mapa do Brasil">
      </section>

      <aside>
        <h3>{{ 'OVERVIEW.TITLE' | translate }}</h3>

        <ul>
          <ng-container *ngFor="let item of 'OVERVIEW.ITEMS' | translate">
            <li>
              <p>{{ item['TEXT'] }}</p>
            </li>
          </ng-container>
        </ul>
      </aside>
    </article>

    <!-- Sustainable Development Goals -->
    <div class="app--sdg page" id="sdg">
      <div class="app--sdg--info">
        <h3>{{ currentSDG.title }}</h3>

        <p>{{ currentSDG.description }}</p>
      </div>

      <ul>
        <ng-container *ngFor="let item of 'SDG' | translate">
          <li (click)="changeSdg(item)">
            <h4>{{ item['ID'] }}</h4>

            <p>{{ item['SCORE'] }}</p>
          </li>
        </ng-container>
      </ul>
    </div>

    <!-- Charts -->
    <article class="app--charts page" id="charts">
      <ng-container *ngFor="let section of 'CHARTS' | translate">
        <section>
          <h3>{{ section['TITLE'] }}</h3>

          <div>
            <canvas
              [id]="section['ID']" baseChart [data]="getChartData(section)" [type]="'bar'" [options]="options"></canvas>
          </div>
        </section>
      </ng-container>
    </article>

    <!-- Ranking -->
    <article class="app--ranking page" id="ranking">
      <ng-container *ngFor="let section of 'RANKING' | translate">
        <section>
          <h3>{{ section['TITLE'] }}</h3>

          <table>
            <tbody>
            <ng-container *ngFor="let item of section['DATA']; index as i">
              <tr>
                <td>{{ i }}</td>

                <td class="app--ranking--name">{{ item['NAME'] + '(' + item['STATE'] + ')' }}</td>

                <td class="app--ranking--score">{{ item['SCORE'] }}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </section>
      </ng-container>
    </article>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
